body{
    background-color:rgb(177, 239, 245);
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

div{
   background-color:#fff;
   padding:30px;
   align-items:center;
   margin-left:500px;
   margin-right:500px;
   margin-top:20px;
   margin-bottom:10px;
   align-content: center;
   box-shadow:0 0 15px rgba(0,0,0,0.2);
   border-radius:5px; 
}

h2{
    color:#1d3557;
    align:center;
}